.App {
  background-color: antiquewhite;
  width: 100%;
  height: 100%;
}

.title0 {
  
  text-align: center;
  font-size: 2.7rem;
  font-weight: 600;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
 
}

.card {
  /* background-color: brown; */
  box-sizing: border-box;
  flex-direction: column;
  box-sizing: border-box;
  /* padding: 5px; */
  /* display: flex; */
  display: grid;
  grid-template-columns: repeat(5,1fr);
  /* justify-content: center; */
  align-items: center;
  width: 225px;
  height: 350px;
  /* padding-left: 100px;
  padding-right: 100px; */
  margin-right: 20px;
}

.member-container {
  display: flex;
  width: 100px;
  height: 350px;
  color: #fff;

  /* margin-right: 20px; */
  /* flex-direction: column; */
  padding-left: 100px;
  padding-right: 75px;
}
  
  .search-box {

    margin-left: 200px;
    padding: 4px;
    width: 190px;
    font-size: 40px;
    
    border-radius: 50px;
    font-family: 'League Spartan', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #3399ff; /* Blue color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform-style: preserve-3d;
    animation: color-animation 3s infinite alternate;
  }
  @keyframes color-animation {
    0% {
      background-color: #3399ff; /* Blue color */
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
   
    100% {
      background-color: #3399ff; /* Blue color */
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
  }
  
  

  
  .search-box:hover {
    transform: rotateY(15deg);
  }
  
  .search-box:focus {
    transform: rotateY(0);
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .search-input {
    width: 190px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    color: #333;
    animation: shake 0.5s ease-in-out infinite;
    transform-style: preserve-3d;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
  }
  
  .search-input:hover {
    box-shadow: 0 2px 4px rgba(9, 243, 9, 0.2); /* Add desired box-shadow */
    background-color: #f3f0e8; /* Add desired background color */
    animation: fade-in 0.5s;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  
  
  
  
